.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    z-index: 1;
    background: #68282870;
}

.dropdownContent a {
    display: block;
}

.dropdown:hover .dropdownContent {display: block;}
