@font-face {
    font-family: 'Squarish Sans CT Regular SC';
    src: url('./assets/font.ttf');
}

html, body, #root {
    margin: 0;
    height: 100%;
}

#root {
    /*background: url('https://upload.wikimedia.org/wikipedia/commons/5/56/Bsodwindows10.png');*/
}