.center {
    width: 70%;
    height: 100%;
    text-align: center;
    margin: auto;
    border: gray solid 1px;
    border-top: none;
    border-bottom: none;
    background-color: #aeaeae60;
}

.title {
    font-family: 'Squarish Sans CT Regular SC', sans-serif;
    font-size: 3em;
}